<script>
  $(document).ready(function() {
    $('.slides').slides({ speed: 4000, fade: 800 });
    $('#testimonials ul').testimonials();
    $('#donators').donators();
    $('.switch').switch(function(value) {
      console.log(value)
      $('#packages, #subscriptions').hide();
      $('#' + value).show();
    });

    var heads = $('#rails-core li');
    heads.click(function() {
      heads.removeClass('active');
      $(this).addClass('active');
      voices[$(this).attr('id')].play();
      setTimeout(function() { heads.removeClass('active') }, 1200);
      return false;
    });

    $('.toggle').click(function() {
      var section = $(this).closest('section');
      section.hasClass('collapsed') ? section.removeClass('collapsed') : section.addClass('collapsed');
      return false;
    });
  })
</script>

<header id="blob">
  <div>
    <ul class="slides">
      <li><img src="images/slides/screen-1.png"></li>
      <li><img src="images/slides/screen-4.png"></li>
      <li><img src="images/slides/screen-6.png"></li>
      <li><img src="images/slides/screen-2.png"></li>
      <li><img src="images/slides/screen-3.png"></li>
      <li><img src="images/slides/screen-5.png"></li>
    </ul>
    <h3>We need your help!</h3>
    <p>Travis CI has run <em>283.346 tests</em> for 3.874 open-source projects to date, including Ruby, Rubinius, Node.js, Rails, Rubygems, Bundler, Symfony, Leiningen ...</p>
    <p>If you use any of these then <em>you benefit</em> from Travis CI.</p>
    <p class="conclusion">Please donate so we can make Travis CI even better!</p>
  </div>
</header>

<header id="sub">
  <div>
    <blockquote>
      <img src="images/brian.jpeg">
      What Github did for sharing code, Travis CI will do for testing code.
      The value of this service cannot be overstated. Travis CI is a paradigm shift.
      The world will be a better place when every open-source developer is  running their test suite on Travis CI.
      <cite>
        &mdash; <a href="https://twitter.com/#!/brixen">@brixen</a>,
        <a href="http://brightredglow.com">Brian Ford</a>,
        <a href="http://rubini.us/">Rubinius</a></cite>
    </blockquote>
    <div id="sociallinks">
      <h4 class="handwritten">Please spread the word!</h4>
      <a href="https://twitter.com/share" class="twitter-share-button" data-count="vertical">Tweet</a>
      <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
      <g:plusone size="tall" href="http://railslove.myshopify.com"></g:plusone>
      <script type="text/javascript">
        window.___gcfg = { lang: 'en-GB' };
        (function() {
          var po = document.createElement('script');
          po.type = 'text/javascript';
          po.async = true;
          po.src = 'https://apis.google.com/js/plusone.js';
          var s = document.getElementsByTagName('script')[0];
          s.parentNode.insertBefore(po, s);
        })();
      </script>
      <div class="fb-like" data-href="http://support.travis-ci.org" data-send="false" data-layout="box_count" data-width="50" data-show-faces="false" data-font="arial"></div>
    </div>
</header>

<section id="please-donate" class="paper">
  <div id="results" class="handwritten">
    To date <%= results[:users] %> people + <%= results[:companies] %> companies have donated <%= number_to_currency results[:total] %> in total. This puts a huge :D on our face. We love you guys.
  </div>
  <h2 class="ribbon">Please donate!</h2>
  <p>Donating to a fun project should be even more fun than just fun. So we made it fun :)</p>
  <p>We've got some <a href="#stickers">awesome stickers</a> hot off the press as well as a bunch of <a href="#ringtones">ringtones and sounds</a> from  Yehuda, Aaron, Jose and Jon. And how about a virtual cup of tea with Josh and Sven on Skype or even a one hour remote pairing session with one of our fantastic volunteers!<sup>1</sup></p>
  <div class="switch">
    <label for="type_package" class="on" value="packages">One off</label>
    <label for="type_subscription" value="subscriptions">Subscription</label>
  </div>
  <div id="packages">
    <h3>Packages</h3>
    <ul class="packages clearfix">
      <li class="tiny">
        <div class="price-tag">USD <%= Package.price(:tiny) %></div>
        <h4>Tiny</h4>
        <p>A cool Travis CI sticker and access to the ringtones and sounds.</p>
        <%= link_to 'Donate', new_package_path(package: 'tiny') %>
      </li>
      <li class="small">
        <div class="price-tag">USD <%= Package.price(:small) %></div>
        <h4>Small</h4>
        <p>3 stickers, access to ringtones &amp; sounds.</p>
        <p>Plus: a personal thank you from the Travis CI team</p>
        <%= link_to 'Donate', new_package_path(package: 'small') %>
      </li>
      <li class="medium">
        <div class="price-tag">USD <%= Package.price(:medium) %></div>
        <h4>Medium</h4>
        <p>All the stuff from the previous plan with all the Travis CI stickers.</p>
        <p>Plus: you get on the waiting list for Travis CI pro beta access.</p>
        <%= link_to 'Donate', new_package_path(package: 'medium') %>
      </li>
      <li class="big">
        <div class="price-tag">USD <%= Package.price(:big) %></div>
        <h4>Big</h4>
        <p>All the stuff from the previous plan.</p>
        <p>Plus: 50 EUR credit for your future Travis CI pro account.</p>
        <p>And a skype cup of tea with Josh &amp; Sven.</p>
        <%= link_to 'Donate', new_package_path(package: 'big') %>
      </li>
      <li class="huge">
        <div class="price-tag">USD <%= Package.price(:huge) %></div>
        <h4>Huge</h4>
        <p>All the stuff from the previous plan plus:</p>
        <p>200 EUR credit for your future Travis CI pro account.</p>
        <p>And 1 hour remote pairing or support with one of our volunteers<sup>1</sup>.</p>
        <%= link_to 'Donate', new_package_path(package: 'huge') %>
      </li>
    </ul>
  </div>
  <div id="subscriptions">
    <h3>Subscriptions</h3>
    <ul class="packages clearfix">
      <li class="tiny">
        <div class="price-tag">10 EUR</div>
        <h4>Tiny</h4>
        <p>A cool Travis CI sticker and access to the ringtones and sounds.</p>
        <%= link_to 'Donate', new_subscription_path(package: 'tiny') %>
      </li>
      <li class="small">
        <div class="price-tag">15 EUR</div>
        <h4>Small</h4>
        <p>3 stickers, access to ringtones &amp; sounds.</p>
        <p>Plus: a personal thank you from the Travis CI team</p>
        <%= link_to 'Donate', new_subscription_path(package: 'small') %>
      </li>
      <li class="medium">
        <div class="price-tag">20 EUR</div>
        <h4>Medium</h4>
        <p>All the stuff from the previous plan with all the Travis CI stickers.</p>
        <p>Plus: you get on the waiting list for Travis CI pro beta access.</p>
        <%= link_to 'Donate', new_subscription_path(package: 'medium') %>
      </li>
      <li class="big">
        <div class="price-tag">35 EUR</div>
        <h4>Big</h4>
        <p>All the stuff from the previous plan.</p>
        <p>Plus: 50 EUR credit for your future Travis CI pro account.</p>
        <p>And a skype cup of tea with Josh &amp; Sven.</p>
        <%= link_to 'Donate', new_subscription_path(package: 'big') %>
      </li>
      <li class="huge">
        <div class="price-tag">50 EUR</div>
        <h4>Huge</h4>
        <p>All the stuff from the previous plan plus:</p>
        <p>200 EUR credit for your future Travis CI pro account.</p>
        <p>And 1 hour remote pairing or support with one of our volunteers<sup>1</sup>.</p>
        <%= link_to 'Donate', new_subscription_path(package: 'huge') %>
      </li>
    </ul>
  </div>
  <ul class="footnotes">
    <li>
      <sup>1</sup>
      <a href="https://github.com/joshk">Josh Kalderimis</a>,
      <a href="https://github.com/svenfuchs">Sven Fuchs</a>,
      <a href="https://github.com/sferik">Erik Michaels-Ober</a>,
      <a href="https://github.com/spastorino">Santiago Pastorino</a>,
      <a href="https://github.com/fxn">Xavier Nora</a>,
      <a href="https://github.com/jonleighton">Jon Leighton</a>,
      <a href="https://github.com/josevalim">José Valim</a>.
      <a href="https://github.com/tenderlove">Aaron Patterson</a>,
      <a href="https://github.com/wycats">Yehuda Katz</a>.
      Spots are limited. Wanna support us and get on this list? Drop us a <a href="#contact">note</a>.
    </li>
  </ul>
  <div class="sidenote left handwritten">
    Please consider these so we can make Travis CI better with your help.
  </div>
</section>

<section id="rails-core">
  <ul>
    <li id="jon">
      <div class="wrap"><div class="head"><a class="mouth" href="#"></a></div></div>
      <cite>Jon Leighton</cite>
    </li>
    <li id="jose">
      <div class="wrap"><div class="head"><a class="mouth" href="#"></a></div></div>
      <cite>José Valim</cite>
    </li>
    <li id="aaron">
      <div class="wrap"><div class="head"><a class="mouth" href="#"></a></div></div>
      <cite>Aaron Patterson</cite>
    </li>
    <li id="yehuda">
      <div class="wrap"><div class="head"><a class="mouth" href="#"></a></div></div>
      <cite>Yehuda Katz</cite>
    </li>
  </ul>
  <div class="sidenote right handwritten">
    These guys agree you should totally donate + make Travis CI better :)
  </div>
</section>

<section id="thanks-companies" class="paper">
  <h2>Thank you, companies!</h2>
  <ul class="clearfix">
    <li class="platinum clearfix">
      <img src="images/logos/soundcloud.png">
      <p>SoundCloud is an audio platform that enables anyone to upload, record, promote and share their originally-created sounds across the internet, in a simple, accessible and feature-rich way.</p>
      <p>SoundCloud's open platform also supports a wide range of applications built on the SoundCloud API, enabling everything from mobile voice recording, online mastering, digital distribution to Facebook artist profiles and iPad music making.</p>
      <p>To find out more, visit the tour page or register online.</p>
    </li>
    <li class="gold">
      <img src="images/logos/github.png">
      <p>GitHub is the best way to collaborate with others on code. Free public repositories, collaborator management, issue tracking, wikis, downloads, code review, graphs ...</p>
    </li>
    <li class="gold clearfix">
      <img src="images/logos/gidsy.png">
      <p>Gidsy is a marketplace for authentic experiences. It's a place where anyone can offer and book tours and activities. By joining a great community of organizers ...</p>
    </li>
    <li class="silver">
      <img src="images/logos/shopify.png">
      <p>Shopify offers a ecommerce solution to create and run your own online store.</p>
    </li>
    <li class="silver">
      <img src="images/logos/railslove.png">
      <p>Hello, we are Railslove. We build web applications and, well, we're quite at it.</p>
    </li>
  </ul>
  <div class="sidenote left handwritten">
    Don't you also think these folks are extremely cool for helping us? Check them out!
  </div>
</section>

<section id="company-packages" class="collapsed">
  <h2>Company Packages</h2>
  <a href="#" class="toggle"></a>
  <p>With the help of <a href="http://twitter.com/#!/csshsh">Florian Weber</a><sup>1</sup> we have set up silver, gold and platinum packages for you. If these don't fit what you are looking for then <a href="#contact">please get in contact!</a></p>
  <p>All of them include heaps of Tweet love, linked banners on prominent Travis CI pages, mentions at conference talks, and a post on our blog, as part of a summary (silver) or dedicated to your company (gold/platinum).</p>
  <ul class="packages clearfix">
    <li class="silver">
      <div class="price-tag">USD <%= Package.price(:silver) %></div>
      <h4>Silver</h4>
      <p>Exposure on Travis CI pages and conference talks.</p>
      <p>3 hour remote pairing or support with Josh, Sven or one of our volunteers.<sup>2</sup></p>
      <%= link_to 'Donate', new_package_path(package: 'silver') %>
    </li>
    <li class="gold">
      <div class="price-tag">USD <%= Package.price(:gold) %></div>
      <h4>Gold</h4>
      <p>Prominent exposure on Travis CI pages and conference talks.</p>
      <p>Have Josh or Sven at your office<sup>3</sup> for a day for support or pairing sessions.<sup>2</sup></p>
      <%= link_to 'Donate', new_package_path(package: 'gold') %>
    </li>
    <li class="platinum">
      <div class="price-tag">USD <%= Package.price(:platinum) %></div>
      <h4>Platinum</h4>
      <p>Premium exposure on Travis CI pages and conference talks.</p>
      <p>Have Josh and/or Sven at your office<sup>3</sup> for a day or two for support or pairing sessions.<sup>2</sup></p>
      <%= link_to 'Donate', new_package_path(package: 'platinum') %>
    </li>
  </ul>
  <ul class="footnotes">
    <li><sup>1</sup> <a href="http://rubyonrails.org/core/alumni">Rails core alumni</a>, early <a href="http://twitter.com">Twitter lead dev</a>, founder of <a href="http://amenhq.com">Amen</a>.</li>
    <li><sup>2</sup> These are just our ideas. We are open for ideas that fit your company better, so feel free to <a href="#contact">ask.</a></li>
    <li><sup>3</sup> You will need to help with travel and accommodation if you're not based close to us. <a href="#contact">Let's talk!</a></li>
  </ul>
</section>

<section id="thanks-guys" class="paper">
  <h2>Thank you, guys!</h2>
  <p>TODO Josh, we need some text here :)</p>
  <ul id="donators" class="clearfix"></ul>
  <div class="sidenote right handwritten">
    ZOMMMG!!1!<br>
    YOU guys rock!<br>
    &lt;3 &lt;3 &lt;3 &lt;3 <br>
  </div>
</section>

<section id="testimonials" class="paper">
  <h2>What people say about Travis CI</h2>
  <ul class="clearfix"></ul>
  <div class="sidenote left handwritten">
    Wow ... thanks :)<br>
    We totally love you, too!
  </div>
</section>

<section id="future-plans" class="paper">
  <h2>Future Plans</h2>
  <p>Here are some of the things we plan to do in the near future. Of course there's way more in the pipeline. If you don't see your personal pet feature on this list then <a href="#contact">don't hesitate to ask!</a></p>
  <ul>
    <li id="pullrequests">
      <h3>Pre-Tested Pull-Requests</h3>
      <p>That shiny green "Merge pull request" button on Github is too tempting to click, right? But you don't know if it passes, and having to go back and revert if it breaks is no fun.  We're going to fix this and pre-test pull requests from Github so you can merge code that passes.</p>
    </li>
    <li id="languages">
      <h3>Moar languages!</h3>
      <p>Travis CI has started out with just Ruby. Today we already support other languages like Node.js, PHP, Erlang and Clojure. We want to expand this and provide full multi-version support for Python, Scala, Java and potentially moar.</p>
    </li>
    <li id="artifacts">
      <h3>Build artifacts</h3>
      <p>The only information you currently can get back from your tests is the log and the exit code. We want to open this up and allow for uploading of various types of build artifacts. Just think, you could take screenshots from your app, or analyse the coverage or code complexity and upload results as files for later use, but that's only the beginning...</p>
    </li>
    <li id="private">
      <h3>Private build support</h3>
      <p>This is probably the single most often asked for feature on conferences, Twitter, IRC, ... basically everywhere. People want to use Travis CI for their private projects and we are going to make this possible!</p>
    </li>
  </ul>
  <div class="sidenote right handwritten">
    That's right. This stuff is going to rock.
    We can't wait for these features either :)
  </div>
</section>

<section id="stickers" class="paper">
  <h2>Travis CI stickers</h2>
  <p>With the help of the amazing folks over at <a href="http://stickermule.com">Stickermule</a> we’ve prepared some gorgeous Travis CI stickers for you. Here are some examples:</p>
  <p><img src="images/stickers.png"></p>
  <p>Wait until you hold them in your hands, they look even better than these images, they actually look so beautiful you'll want to lick them :)</p>
  <div class="sidenote left handwritten">
    Yummmmm, ...
  </div>
</section>

<section id="ringtones" class="paper">
  <h2>Ringtones &amp; Sounds</h2>
  <p>This is where the real fun is. <a href="http://yehudakatz.com">Yehuda Katz</a>, <a href="http://tenderlovemaking.com">Aaron Patterson</a>, <a href="https://github.com/josevalim">Jose Valim</a> and <a href="http://jonathanleighton.com/">Jon Leighton</a> from the <a href="http://rubyonrails.org/core">Rails core team</a> have recorded some typical Rails core/Ruby dev slang phrases for us. Now check this out.</p>
  <p>We will add more <a href="soundcloud.com/travis-ci/sets">ringtones and sounds</a> from the community as they are coming in. (Feel free to submit some!)</p>
  <p>If you donate anything to this campaign we will grant you access to download these so you can use them as actual ringtones on your phone, as notification sounds on your computer or wherever your heart fancies!</p>
  <p><iframe width="100%" height="450" scrolling="no" frameborder="no" src="http://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Fplaylists%2F1449285&amp;auto_play=false&amp;show_artwork=false&amp;color=ff7700"></iframe></p>
  <div class="sidenote right handwritten">
    Kinda weird? Totally :)<br> But lots of fun, too ... which is why they're here.
  </div>
</section>

<section id="faq" class="paper">
  <h2>FAQ</h2>
  <h3>Who are you, actually?</h3>
  <p>We've just recently founded a company Travis CI GmbH in Berlin, Germany. So we are able to receive payments, send invoices and pay people in a legal manner.</p>
  <p>This company is currently owned by <a href="http://twitter.com/joshkalderimis">Josh Kalderimis</a> and <a href="http://twitter.com/svenfuchs">Sven Fuchs</a> and will be used to push Travis CI further.</p>

  <h3>What are you going to do with all the money?</h3>
  <p>We are going to continue work on Travis CI in order to make it even better. Some of the features that we want to work on next are listed above.</p>

  <h3>Why do you need to accept donations for this?</h3>
  <p>We have been working on Travis CI off our personal money for the last half a year or so and now we have reached a limit with that.</p>
  <p>We are going to implement a paid service for private builds, too, but that will probably take a while. We also want to pay people for improving various parts of the system too.</p>

  <h3>Can't you just sell private build support and use that money for your plans?</h3>
  <p>We certainly could. But this would then take much longer as we would need to pick up external work in order to pay our own bills. There also are other features (like pre-tested Github pull requests and the like) that would need to wait even longer. And we believe the community should get them as soon as possible.</p>
  <p>So, put simple, by accepting donations and sponsorships we allow the community to speed up further improvements to Travis CI.</p>

  <h3>I just want to send some money without all this jazz. Can I do that?</h3>
  <p>Absolutely. Here's our bank account: [...]</p>
  <p>Please also <a href="mailto:contact@travis-ci.org">send us an email</a> or otherwise make sure we know who you are :)</p>
  <div class="sidenote left handwritten">
    Any other questions? Just shoot!
  </div>
</section>

<section id="contact" class="paper">
  <h2>Contact</h2>
  <p>Josh is taking care of most of the non-technical communication. Please flick him an email at <a href="mailto:josh@travis-ci.org">josh@travis-ci.org</a>, call him on Skype <a href="callto:joshkalderimis?call">joshkalderimis</a> or just tweet at <a href="http://twitter.com/joshkalderimis">@joshkalderimis</a>.</p>
  <p>If you feel like chatting we are hanging out at <a href="irc://irc.freenode.net#travis">irc.freenode.net#travis</a> basically all the time :)</p>
</section>


