= render partial: 'blurb'
= render partial: 'sub'
= render partial: 'please_donate'
= render partial: 'rails_core'
= render partial: 'thanks_companies'
= render partial: 'company_packages'
= render partial: 'thanks_folks'
= render partial: 'testimonials'
= render partial: 'future_plans'
= render partial: 'stickers'
= render partial: 'ringtones'
= render partial: 'faq'
= render partial: 'contact'

