%tr{ class: order.active? ? 'active' : 'cancelled' }
  %td= link_to order.package.name, order
  %td= l order.created_at, format: :short
  %td= number_to_currency order.total_in_dollars
  - if order.subscription?
    %td{class: :cancel}= order.active? ? cancel_subscription_button(order) : 'cancelled'
  - else
    %td= link_to 'Invoice', order

