%tr
  %td= link_to order.package.name, order
  %td= order.created_at.to_formatted_s(:long)
  %td= order.package.price
  - if order.subscription?
    %td= link_to 'Cancel', order, :method => :delete, :alert => 'Are you sure you want to cancel this order?'
  - else
    %td= link_to 'Invoice', order

