= simple_form_for order do |f|
  = f.hidden_field :package
  = f.hidden_field :subscription

  %h2= "#{subscription? ? 'Subscription' : 'Package'}: #{order.package.name}"

  %p
    You are about to donate
    %em= number_to_currency order.package.price_in_dollars
    to Travis CI
    = subscription_type(order) + '.'
  %p
    That is amazing! Thank you so much, we love you :)

  - unless signed_in?
    #user
      = simple_fields_for user do |u|
        = u.hidden_field :stripe_card_token
        %fieldset
          = u.input :name, required: true
          = u.input :email, required: true
          = u.input :password, required: true
        %fieldset
          = u.input :twitter_handle, label: 'Twitter', hint: 'Your twitter handle', required: false, input_html: { placeholder: '@' }
          = u.input :github_handle,  label: 'Github',  hint: 'Your Github handle',  required: false
          = u.input :homepage, required: false, input_html: { placeholder: 'http://' }
        %fieldset.wide
          = u.input :display, :as => 'boolean', :label => display_for(order.package.id), input_html: { checked: true }

  #billing_address.address
    %h3 Address
    = f.simple_fields_for :billing_address do |a|
      %fieldset
        = a.input :name, required: company?
        = a.input :street, required: company?
        = a.input :zip, required: company?
      %fieldset
        = a.input :city, required: company?
        = a.input :state
        = a.input :country, required: company?

  - unless signed_in?
    #credit_card
      %h3 Credit Card
      %fieldset
        - if user.stripe_card_token.present?
          %label Info
          %p Has been provided.
        - else
          = f.input :card_name, as: :anonymous, required: true, label: 'Name'
          = f.input :card_number, as: :anonymous, required: true, label: 'Number'
          = f.input :card_cvc, as: :anonymous, required: true, label: 'CVC', hint: 'Your credit card security code.'
          = f.input :card_expires_at, as: :expiry_selects, label: 'Expires'
        #stripe_error
          %noscript JavaScript is not enabled and is required for this form. First enable it in your web browser settings.

  #comment
    %h3 Leave a comment
    %fieldset.wide
      = f.input :comment, as: 'text', required: false, hint: 'Add a comment (will be published on the donors list).'
      = f.input :message, as: 'text', required: false, hint: 'You can leave us a message (will not be published).'

  .actions
    = f.submit 'Confirm'
    = link_to 'Return to home', '/', class: 'cancel'
    .message

  %ul.footnotes
    %li
      %sup 1
      Contributions and payments to travis-ci.org or Travis CI GmbH are not deductible as charitable
      contributions for federal income tax purposes. However, they may be deductible under other
      provisions of the Internal Revenue Code (for US) or your local tax authority's advice.

