= simple_form_for order do |f|
  = f.hidden_field :package
  = f.hidden_field :subscription

  %h2= "#{subscription? ? 'Subscription' : 'Package'}: #{order.package.name}"

  %p Hey! You are going to donate to Travis CI? That is amazing! Because we will be able to make it even better with your help. Thank you so much. We love you :)

  - unless signed_in?
    #user
      = simple_fields_for :user do |f|
        = f.hidden_field :stripe_card_token
        %fieldset
          = f.input :name
          = f.input :email
          = f.input :password
        %fieldset
          = f.input :twitter_handle, label: 'Twitter', hint: 'Your twitter handle', required: false, input_html: { placeholder: '@' }
          = f.input :github_handle,  label: 'Github',  hint: 'Your Github handle',  required: false
          = f.input :homepage, required: false, input_html: { placeholder: 'http://' }
        %fieldset.wide
          = f.input :description, :as => 'text', required: false, label: 'Bio' if display_bio?(order.package.id)
          = f.input :display, :as => 'boolean', :label => display_for(order.package.id), input_html: { checked: true }

  #billing_address.address
    %h3 Address
    = f.simple_fields_for :billing_address do |f|
      %fieldset
        = f.input :name
        = f.input :street
        = f.input :zip
      %fieldset
        = f.input :city
        = f.input :state
        = f.input :country

  - unless signed_in?
    #credit_card
      %h3 Credit Card
      %fieldset
        - if user.stripe_card_token.present?
          %p Has been provided.
        - else
          = f.input :name, as: :anonymous, required: true, label: 'Name'
          = f.input :card_number, as: :anonymous, required: true, label: 'Number'
          = f.input :card_cvc, as: :anonymous, required: true, label: 'CVC', hint: 'Your credit card security code.'
          = f.input :card_expires_at, as: :expiry_selects, label: 'Expires'
        #stripe_error
          %noscript JavaScript is not enabled and is required for this form. First enable it in your web browser settings.

  #comment
    %h3 Leave us a note
    %fieldset.wide
      = f.input :comment, :as => 'text', required: false

  .actions
    = f.submit 'Confirm'
    = link_to 'Cancel', '/'

