%h1= "#{subscription? ? 'Subscription' : 'Package'}: #{order.package.name}"

= simple_form_for order do |f|
  = f.hidden_field :package
  = f.hidden_field :subscription
  = f.hidden_field :stripe_card_token

  - unless signed_in?
    = simple_fields_for :user do |f|
      %fieldset
        = f.input :name
        = f.input :email
        = f.input :password
      %fieldset
        = f.input :twitter_handle
        = f.input :github_handle
        = f.input :homepage

  #billing_address.address
    %h2 Billing Address
    = f.simple_fields_for :billing_address do |f|
      %fieldset
        = f.input :name
        = f.input :street
        = f.input :zip
        = f.input :city
        = f.input :state
        = f.input :country
        = label_tag :toggle_shipping_address do
          = check_box_tag 'toggle_shipping_address', 1, true
          = 'Use as shipping address'

  #shipping_address.address
    %h2 Shipping Address
    = f.simple_fields_for :shipping_address do |f|
      %fieldset
        = f.input :name
        = f.input :street
        = f.input :zip
        = f.input :city
        = f.input :state
        = f.input :country

  %h2 Credit Card
  %fieldset
    - if order.stripe_card_token.present?
      %p Has been provided.
    - else
      = f.input :number, :as => :anonymous, :required => true
      = f.input :security_code, :as => :anonymous, :required => true
      = f.input :expires_at, :as => :expiry_selects

  #stripe_error
    %noscript JavaScript is not enabled and is required for this form. First enable it in your web browser settings.

  .actions
    = f.submit 'Confirm'
    = link_to 'Deny', '/'

