%p= link_to '&larr; Your profile'.html_safe, profile_path

#subscription
  %h2= subscription.plan.name
  %p.meta= subscription.created_at.to_formatted_s(:long)

  %dl
    %dt Name
    %dd= current_user.name
    %dt Email
    %dd= current_user.email
    %dt Twitter
    %dd= current_user.twitter_handle
    %dt Github
    %dd= current_user.github_handle
    %dt Homepage
    %dd= current_user.homepage

  %h1 Billing Address
  %dl
    %dt Street
    %dd= billing_address.street
    %dt Zip
    %dd= billing_address.zip
    %dt City
    %dd= billing_address.city
    - if billing_address.state.present?
      %dt State
      %dd= billing_address.state
    %dt Country
    %dd= billing_address.country

  - if shipping_address
    %h1 Shipping Address
    %dl
      %dt Street
      %dd= shipping_address.street
      %dt Zip
      %dd= shipping_address.zip
      %dt City
      %dd= shipping_address.city
      - if shipping_address.state.present?
        %dt State
        %dd= shipping_address.state
      %dt Country
      %dd= shipping_address.country
