%h2
  Thank you so much for your support!
%p
  You have just ordered the <em>#{order.package.name}</em> #{order.subscription? ? 'subscription' : 'package'}
  which means you have donated <em>#{number_to_currency order.total_in_dollars}</em> to Travis CI.
%p
  We can't express how much we appreciate your support.
%p
  The amount has been charged on your credit card and you should have received a confirmation from Stripe.
%p
  Included in this #{order.subscription? ? 'subscription' : 'package'} are the following features:

= render partial: "orders_mailer/features/#{order.package.id}"

%h3 Your address:

%dl
  - %w(name street city zip state country).each do |attr|
    - if order.billing_address.send(attr).present?
      %dt= attr.camelize
      %dd= order.billing_address.send(attr)
