#top
  %div
    %h1
      %a{ href: '/' } Travis CI
    %h2 Continuous Integration for the Open Source Community
    %ul
      - if signed_in?
        %li= "Welcome, #{current_user.name}"
        %li= '&rarr;'.html_safe
        %li= link_to 'Your Profile', profile_path
        %li= link_to 'Sign out', destroy_session_path
      - else
        %li= link_to 'Sign in', new_user_session_path
  #github
    %a{ href: 'https://github.com/travis-ci/travis-crowd', title: 'Fork me on GitHub'} Fork me on GitHub
