!!! 5
%html
  %head
    %title Travis needs your help
    = stylesheet_link_tag 'application'
    /[if lt IE 9]
      = stylesheet_link_tag 'ie'
    = javascript_include_tag 'https://js.stripe.com/v1', 'application'
    = csrf_meta_tags
    = tag :meta, name: 'stripe-key', content: STRIPE_PUBLIC_KEY
    = tag :meta, name: 'viewport', content: 'width=1010,maximum-scale=1.4'
    = tag :meta, name: 'pusher-key', content: Rails.application.config.settings.pusher[:key] if Rails.application.config.settings.pusher

  %body{id: page_id}
    #github
      %a{ href: 'https://github.com/travis-ci/travis-crowd', title: 'Fork me on GitHub'} Fork me on GitHub
    = render partial: 'layouts/flashes'
    #wrap
      #page
        = render partial: 'layouts/header'
        - if params[:controller] == 'home'
          = yield
        - else
          %section.paper
            = yield
        = render partial: 'layouts/footer'
        = render partial: 'layouts/gauges'
